<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>404</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <div class="row mt-5 mb-5">
        <h1 class="text-uppercase text-black-50 text-center">Cloud Storage App</h1>
    </div>
    <div class="row mt-5 mb-5">
        <h1 class="text-uppercase text-black-50 text-center">404 Nothing was Found! </h1>
        <a th:action="/home">Go back to Home here...</a>
    </div>
</div>

<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>


</body>
</html>